In [1]:
# Importing the required libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [2]:
# Load the dataset
df = pd.read_csv('freelance_platform_projects.csv')
df.head()

,Title,Category Name,Experience,Sub Category Name,Currency,Budget,Location,Freelancer Preferred From,Type,Date Posted,Description,Duration,Client Registration Date,Client City,Client Country,Client Currency,Client Job Title
0,Go through wordpress site to improve speed,Technology & Programming,Entry ($),Website Development,GBP,30.0,remote,ALL,fixed_price,2023-04-09 02:56:08,Need someone to go through Wordpress website (...,1 day or less,2022-11-18,Brisbane,Australia,USD,NaN
1,design concept for commercial building,Design,Entry ($),Interior/Exterior Design,USD,100.0,remote,ALL,fixed_price,2023-04-09 02:56:08,"design concept for commercial building , groun...",NaN,2010-09-03,Caracas,Venezuela,USD,NaN
2,SSH access to my server & PLESK,Technology & Programming,Entry ($),Website Development,EUR,15.0,remote,ALL,fixed_price,2023-04-09 02:04:45,I need to delete some backup files from the me...,NaN,2023-03-11,London,United Kingdom,GBP,NaN
3,Interiors Design blog writting,Writing & Translation,Intermediate ($$),Technical Writing,GBP,25.0,remote,ALL,hourly,2023-04-09 02:08:11,Hello! I'm looking for an experienced writer t...,NaN,2023-04-09,London,United Kingdom,GBP,NaN
4,Boost website seo,Digital Marketing,Intermediate ($$),SEO,GBP,30.0,remote,ALL,hourly,2023-04-09 02:08:11,I am getting ready to launch my bi weekly blog...,NaN,2023-04-09,London,United Kingdom,GBP,NaN

In [3]:
df.drop(['Duration', 'Client Job Title','Location','Budget','Client Registration Date'], axis=1, inplace=True)
df.head()

,Title,Category Name,Experience,Sub Category Name,Currency,Freelancer Preferred From,Type,Date Posted,Description,Client City,Client Country,Client Currency
0,Go through wordpress site to improve speed,Technology & Programming,Entry ($),Website Development,GBP,ALL,fixed_price,2023-04-09 02:56:08,Need someone to go through Wordpress website (...,Brisbane,Australia,USD
1,design concept for commercial building,Design,Entry ($),Interior/Exterior Design,USD,ALL,fixed_price,2023-04-09 02:56:08,"design concept for commercial building , groun...",Caracas,Venezuela,USD
2,SSH access to my server & PLESK,Technology & Programming,Entry ($),Website Development,EUR,ALL,fixed_price,2023-04-09 02:04:45,I need to delete some backup files from the me...,London,United Kingdom,GBP
3,Interiors Design blog writting,Writing & Translation,Intermediate ($$),Technical Writing,GBP,ALL,hourly,2023-04-09 02:08:11,Hello! I'm looking for an experienced writer t...,London,United Kingdom,GBP
4,Boost website seo,Digital Marketing,Intermediate ($$),SEO,GBP,ALL,hourly,2023-04-09 02:08:11,I am getting ready to launch my bi weekly blog...,London,United Kingdom,GBP

In [4]:
# Encoding the categorical variables
le = LabelEncoder()
df["Title"] = le.fit_transform(df["Title"])
df["Category Name"] = le.fit_transform(df["Category Name"])
df["Experience"] = le.fit_transform(df["Experience"])
df["Sub Category Name"] = le.fit_transform(df["Sub Category Name"])
df["Currency"] = le.fit_transform(df["Currency"])
df["Freelancer Preferred From"] = le.fit_transform(df["Freelancer Preferred From"])
df["Type"] = le.fit_transform(df["Type"])
df["Date Posted"] = le.fit_transform(df["Date Posted"])
df["Description"] = le.fit_transform(df["Description"])
df["Client City"] = le.fit_transform(df["Client City"])
df["Client Country"] = le.fit_transform(df["Client Country"])
df["Client Currency"] = le.fit_transform(df["Client Currency"])

In [5]:
df.head()

,Title,Category Name,Experience,Sub Category Name,Currency,Freelancer Preferred From,Type,Date Posted,Description,Client City,Client Country,Client Currency
0,2950,6,0,100,1,1,0,7660,6874,214,6,2
1,8920,1,0,48,2,1,0,7660,9266,276,131,2
2,6840,6,0,100,0,1,0,7655,5409,857,127,1
3,4413,8,2,89,1,1,1,7659,1167,857,127,1
4,887,2,2,74,1,1,1,7659,2719,857,127,1

In [6]:
# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=["Type"]), df["Type"], test_size=0.2, random_state=42)

In [7]:
# Training the Random Forest classifier
rfc = RandomForestClassifier(n_estimators=100, random_state=42)
rfc.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [11]:
# Making predictions on the testing set
y_pred = rfc.predict(X_test)
y_pred[:10]

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0])

In [12]:
# Evaluating the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.8507386653082017
              precision    recall  f1-score   support

           0       0.85      0.99      0.92      1653
           1       0.69      0.10      0.17       310

    accuracy                           0.85      1963
   macro avg       0.77      0.55      0.55      1963
weighted avg       0.83      0.85      0.80      1963